body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    margin: auto;
}
#playerSelection{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100px; */

}
/* playerSelection default */
#rockSelection, 
#paperSelection, 
#scissorsSelection,
#resetButton {
    transition: transform .3s;
    padding: 15px;
    height: 100px;
}

/* playerSelection on hover */
#rockSelection:hover, 
#paperSelection:hover, 
#scissorsSelection:hover,
#resetButton:hover {
   transform:scale(1.5) ;
}
/* scoreboard */
#scoreboard{
    display: flex;
    width: 300px;
    justify-content: space-around;
    margin: 10px;
}
/* score */
#you, #computer, #tie, #rounds {
    width: 100px;
    margin: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#vs {
   height: 50px;
   margin: 50px;
}
#yourScoreboard, #computerScoreboard, #roundsScoreboard, #tiesScoreboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#yourScore, #computerScore, #roundScore, #tieScore, #text{
    font-size: 3em;
}
#computerScoreboard{
    background-color: #fc0505;
    border-radius: 10%;
    margin: 10px;
    color: black;
}
#yourScoreboard{
background-color: #65c8d0;
border-radius: 10%;
margin: 10px;
color: black;
}
#text{
    margin-bottom: 100px;
    height: 100px;
}
#resetButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    margin-left: 20px
}
#selectionHighlighter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 800px;
    color: black;
    margin-top: 50px;
    
}

#selectionRock, #selectionPaper, #selectionScissors, #selectionReset, #youSelector, #computerSelector{
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation: playerSelectionIndicator 1s linear;
}
#selectionRock{
    margin-left: 70px
}
#selectionPaper{
    margin-left: 35px
}
#selectionScissors{
    margin-left: 10px
}
#yourSelection{
    height: 100px;
}
#selectionReset{
    margin-right: 20px;
}

#selectorStartReset{
    display: flex;
    margin-bottom: 100px;
}
#youSelector, #computerSelector{
    margin-right: 30px;
    margin-left: 30px;
}	
  @keyframes playerSelectionIndicator {
    0% { opacity: 0 }
    100% { opacity: 1 }
  }











  /* Mobile viewport */
@media only screen and (max-width: 600px) {
    html{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        height:100dvh ;
        width: 80dvw;
        scale: 0.50;
        margin: auto;
        padding-top: 100px;
        
    }
    body{
        display: flex;
        justify-content: center;
        margin: auto;
    }
h1{
    margin: 10px;
    text-align: center;
    font-size: 30px;
}
    #text{
        font-size: 30px;
        text-align: center;
    }
    }
